--
-- PostgreSQL database dump
--

\restrict Zaq1Yuh24C1532cCQk0Jsf3SOUa4NJN2oxyEDyn9tUX33wxIegsbNiBoSQGggAC

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: medtrack_user
--

CREATE TABLE public.alembic_version (
    version_num text NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO medtrack_user;

--
-- Name: audit_log; Type: TABLE; Schema: public; Owner: medtrack_user
--

CREATE TABLE public.audit_log (
    id bigint NOT NULL,
    admin_id integer NOT NULL,
    product_id integer NOT NULL,
    action character varying NOT NULL,
    old_value integer,
    new_value integer,
    "timestamp" timestamp without time zone
);


ALTER TABLE public.audit_log OWNER TO medtrack_user;

--
-- Name: audit_log_id_seq; Type: SEQUENCE; Schema: public; Owner: medtrack_user
--

CREATE SEQUENCE public.audit_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.audit_log_id_seq OWNER TO medtrack_user;

--
-- Name: audit_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: medtrack_user
--

ALTER SEQUENCE public.audit_log_id_seq OWNED BY public.audit_log.id;


--
-- Name: brand; Type: TABLE; Schema: public; Owner: medtrack_user
--

CREATE TABLE public.brand (
    id integer NOT NULL,
    name character varying NOT NULL,
    last_changed_date timestamp without time zone
);


ALTER TABLE public.brand OWNER TO medtrack_user;

--
-- Name: dispense; Type: TABLE; Schema: public; Owner: medtrack_user
--

CREATE TABLE public.dispense (
    id integer NOT NULL,
    user_id integer,
    created_at timestamp without time zone NOT NULL
);


ALTER TABLE public.dispense OWNER TO medtrack_user;

--
-- Name: dispense_item; Type: TABLE; Schema: public; Owner: medtrack_user
--

CREATE TABLE public.dispense_item (
    id integer NOT NULL,
    dispense_id integer NOT NULL,
    product_id integer NOT NULL,
    qty integer NOT NULL,
    price_at_dispense double precision
);


ALTER TABLE public.dispense_item OWNER TO medtrack_user;

--
-- Name: drug; Type: TABLE; Schema: public; Owner: medtrack_user
--

CREATE TABLE public.drug (
    id integer NOT NULL,
    name character varying NOT NULL,
    last_changed_date timestamp without time zone
);


ALTER TABLE public.drug OWNER TO medtrack_user;

--
-- Name: formulation_type; Type: TABLE; Schema: public; Owner: medtrack_user
--

CREATE TABLE public.formulation_type (
    id integer NOT NULL,
    name character varying NOT NULL,
    last_changed_date timestamp without time zone
);


ALTER TABLE public.formulation_type OWNER TO medtrack_user;

--
-- Name: product; Type: TABLE; Schema: public; Owner: medtrack_user
--

CREATE TABLE public.product (
    id integer NOT NULL,
    drug_id integer NOT NULL,
    brand_id integer,
    formulation_type_id integer NOT NULL,
    strength character varying,
    unit_id integer,
    price double precision,
    nhia_cover boolean,
    stock integer,
    last_changed_date timestamp without time zone,
    notes text,
    reorder_level integer
);


ALTER TABLE public.product OWNER TO medtrack_user;

--
-- Name: unit; Type: TABLE; Schema: public; Owner: medtrack_user
--

CREATE TABLE public.unit (
    id integer NOT NULL,
    code character varying NOT NULL,
    name character varying NOT NULL,
    last_changed_date timestamp without time zone
);


ALTER TABLE public.unit OWNER TO medtrack_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: medtrack_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    first_name character varying,
    last_name character varying,
    username character varying NOT NULL,
    email character varying NOT NULL,
    hashed_password character varying NOT NULL,
    is_active boolean,
    is_admin boolean,
    created_at timestamp without time zone,
    totp_secret character varying,
    is_google_account boolean,
    verification_code character varying(6),
    password_reset_code character varying(6)
);


ALTER TABLE public.users OWNER TO medtrack_user;

--
-- Name: audit_log id; Type: DEFAULT; Schema: public; Owner: medtrack_user
--

ALTER TABLE ONLY public.audit_log ALTER COLUMN id SET DEFAULT nextval('public.audit_log_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: medtrack_user
--

COPY public.alembic_version (version_num) FROM stdin;
11f6d9748f65
\.


--
-- Data for Name: audit_log; Type: TABLE DATA; Schema: public; Owner: medtrack_user
--



--
-- Data for Name: brand; Type: TABLE DATA; Schema: public; Owner: medtrack_user
--



--
-- Data for Name: dispense; Type: TABLE DATA; Schema: public; Owner: medtrack_user
--



--
-- Data for Name: dispense_item; Type: TABLE DATA; Schema: public; Owner: medtrack_user
--

COPY public.dispense_item (id, dispense_id, product_id, qty, price_at_dispense) FROM stdin;
1	1	1	10	105
2	2	1	10	105
3	3	1	5	105
4	4	1	4	105
5	5	638	2	250.45
6	6	638	30	250.45
7	7	638	1	250.45
8	8	638	32	250.45
9	9	638	3	250.45
10	10	638	3	250.45
11	11	638	27	250.45
12	12	638	1	250.45
13	13	638	10	250.45
14	14	638	10	250.45
15	15	300	10	20
16	16	32	5	920
17	16	31	5	920
18	17	236	42	15
19	18	300	10	25
20	19	300	10	25
21	20	300	10	25
22	21	300	10	25
23	22	237	12	105
24	23	236	120	15
\.


--
-- Data for Name: drug; Type: TABLE DATA; Schema: public; Owner: medtrack_user
--



--
-- Data for Name: formulation_type; Type: TABLE DATA; Schema: public; Owner: medtrack_user
--

COPY public.formulation_type (id, name, last_changed_date) FROM stdin;
1	Tablets	\N
2	Injections	\N
3	Infusions	\N
4	Syrups	\N
5	Eye-Ear-Drops	\N
6	Creams	\N
7	Inhalers	\N
8	Suppositories	\N
9	Consumable	\N
10	tablet	\N
11	injections	\N
12	soft-gel	2025-10-07 17:31:43
13	Injection	2025-11-04 02:49:02
14	Syrup	2025-11-04 13:50:50
\.


--
-- Data for Name: product; Type: TABLE DATA; Schema: public; Owner: medtrack_user
--



--
-- Data for Name: unit; Type: TABLE DATA; Schema: public; Owner: medtrack_user
--

COPY public.unit (id, code, name, last_changed_date) FROM stdin;
1	TAB	TAB	\N
2	PKT	PKT	\N
3	CAP	CAP	\N
4	PWD	PWD	\N
5	BTT	BTT	\N
6	GRAN	GRAN	\N
7	AMP	AMP	\N
8	VIAL	VIAL	\N
9	PFS	PFS	\N
10	10ML	10ML	\N
11	5ML	5ML	\N
12	BAG	BAG	\N
13	DROP	DROP	\N
14	TUBE	TUBE	\N
15	VAIL	VAIL	\N
16	CN	CN	\N
17	NEB	NEB	\N
18	SUPP	SUPP	\N
19	PESS	PESS	\N
20	PC	PC	\N
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: medtrack_user
--



--
-- Name: audit_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: medtrack_user
--

SELECT pg_catalog.setval('public.audit_log_id_seq', 36, true);


--
-- Name: brand brand_name_key; Type: CONSTRAINT; Schema: public; Owner: medtrack_user
--

ALTER TABLE ONLY public.brand
    ADD CONSTRAINT brand_name_key UNIQUE (name);


--
-- Name: drug drug_name_key; Type: CONSTRAINT; Schema: public; Owner: medtrack_user
--

ALTER TABLE ONLY public.drug
    ADD CONSTRAINT drug_name_key UNIQUE (name);


--
-- Name: formulation_type formulation_type_name_key; Type: CONSTRAINT; Schema: public; Owner: medtrack_user
--

ALTER TABLE ONLY public.formulation_type
    ADD CONSTRAINT formulation_type_name_key UNIQUE (name);


--
-- Name: formulation_type idx_16525_formulation_type_pkey; Type: CONSTRAINT; Schema: public; Owner: medtrack_user
--

ALTER TABLE ONLY public.formulation_type
    ADD CONSTRAINT idx_16525_formulation_type_pkey PRIMARY KEY (id);


--
-- Name: unit idx_16530_unit_pkey; Type: CONSTRAINT; Schema: public; Owner: medtrack_user
--

ALTER TABLE ONLY public.unit
    ADD CONSTRAINT idx_16530_unit_pkey PRIMARY KEY (id);


--
-- Name: drug idx_16535_drug_pkey; Type: CONSTRAINT; Schema: public; Owner: medtrack_user
--

ALTER TABLE ONLY public.drug
    ADD CONSTRAINT idx_16535_drug_pkey PRIMARY KEY (id);


--
-- Name: brand idx_16540_brand_pkey; Type: CONSTRAINT; Schema: public; Owner: medtrack_user
--

ALTER TABLE ONLY public.brand
    ADD CONSTRAINT idx_16540_brand_pkey PRIMARY KEY (id);


--
-- Name: product idx_16545_product_pkey; Type: CONSTRAINT; Schema: public; Owner: medtrack_user
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT idx_16545_product_pkey PRIMARY KEY (id);


--
-- Name: alembic_version idx_16550_sqlite_autoindex_alembic_version_1; Type: CONSTRAINT; Schema: public; Owner: medtrack_user
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT idx_16550_sqlite_autoindex_alembic_version_1 PRIMARY KEY (version_num);


--
-- Name: users idx_16555_ix_users_id; Type: CONSTRAINT; Schema: public; Owner: medtrack_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT idx_16555_ix_users_id PRIMARY KEY (id);


--
-- Name: dispense idx_16560_dispense_pkey; Type: CONSTRAINT; Schema: public; Owner: medtrack_user
--

ALTER TABLE ONLY public.dispense
    ADD CONSTRAINT idx_16560_dispense_pkey PRIMARY KEY (id);


--
-- Name: dispense_item idx_16563_dispense_item_pkey; Type: CONSTRAINT; Schema: public; Owner: medtrack_user
--

ALTER TABLE ONLY public.dispense_item
    ADD CONSTRAINT idx_16563_dispense_item_pkey PRIMARY KEY (id);


--
-- Name: audit_log idx_16566_audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: medtrack_user
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT idx_16566_audit_log_pkey PRIMARY KEY (id);


--
-- Name: unit unit_code_key; Type: CONSTRAINT; Schema: public; Owner: medtrack_user
--

ALTER TABLE ONLY public.unit
    ADD CONSTRAINT unit_code_key UNIQUE (code);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: medtrack_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: medtrack_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: medtrack_user
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: audit_log audit_log_admin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: medtrack_user
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_admin_id_fkey FOREIGN KEY (admin_id) REFERENCES public.users(id);


--
-- Name: audit_log audit_log_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: medtrack_user
--

ALTER TABLE ONLY public.audit_log
    ADD CONSTRAINT audit_log_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.product(id);


--
-- Name: dispense_item dispense_item_dispense_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: medtrack_user
--

ALTER TABLE ONLY public.dispense_item
    ADD CONSTRAINT dispense_item_dispense_id_fkey FOREIGN KEY (dispense_id) REFERENCES public.dispense(id);


--
-- Name: dispense_item dispense_item_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: medtrack_user
--

ALTER TABLE ONLY public.dispense_item
    ADD CONSTRAINT dispense_item_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.product(id);


--
-- Name: dispense dispense_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: medtrack_user
--

ALTER TABLE ONLY public.dispense
    ADD CONSTRAINT dispense_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: product product_brand_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: medtrack_user
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT product_brand_id_fkey FOREIGN KEY (brand_id) REFERENCES public.brand(id);


--
-- Name: product product_drug_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: medtrack_user
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT product_drug_id_fkey FOREIGN KEY (drug_id) REFERENCES public.drug(id);


--
-- Name: product product_formulation_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: medtrack_user
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT product_formulation_type_id_fkey FOREIGN KEY (formulation_type_id) REFERENCES public.formulation_type(id);


--
-- Name: product product_unit_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: medtrack_user
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT product_unit_id_fkey FOREIGN KEY (unit_id) REFERENCES public.unit(id);


--
-- PostgreSQL database dump complete
--

\unrestrict Zaq1Yuh24C1532cCQk0Jsf3SOUa4NJN2oxyEDyn9tUX33wxIegsbNiBoSQGggAC

